* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bisque;
}
