<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Usuários</title>

    <!-- Link para o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block link %}
    {% endblock %}
</head>
<body>
    <!-- Cabeçalho -->
    <header class="nav">
        <h2><a href="{{ url_for('index') }}">Usuários</a></h2>
        {% if 'user_id' in session %}
            <h2><a href="{{ url_for('create') }}">Adicionar</a></h2>
            <h2><a href="{{ url_for('logout') }}">Logout</a></h2>
        {% else %}
            <h2><a href="{{ url_for('login') }}">Login</a></h2>
        {% endif %}
    </header>
    

    <!-- Conteúdo principal -->
    <main class="main">
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>
